{% extends "layout.html" %}
{% block body %}
    <ul class="list-group">
        {% for message in messages %}
            {% if message.sending %}
                <li class="list-group-item list-group-item-success">
            {% else %}
                <li class="list-group-item">
            {% endif %}
                    <div>{{ message.content }}</div>
                    <small>{{ message.time }}</small>
                </li>
        {% endfor %}
    </ul>
    <form class="form-horizontal" role="form" action="{{ url_for('updatechat', username=receivername) }}" method=post>
        <div class="form-group">
            <label class="control-label" for="message">Type in a message...</label>
            <input type="text" class="form-control" id="message" name="message">
        </div>
        <button type="submit" class="btn btn-primary" disabled>Send</button>
    </form>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#message').on('keyup', function () {
                var length = $(this).val().length;
                if (length === 0)
                    $('button').prop('disabled', true);
                else
                    $('button').prop('disabled', false);
            });
        });
    </script>
{% endblock %}